/* --- Google Font --- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* --- Reset --- */

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #707070;
}

html, body a {
	text-decoration: none;
	color: #707070;
}

html, body a:hover {
	text-decoration: none;
	color: #41b3a3;
}

.padding {
	padding-right: 9%;
	padding-left: 9%;
}

.padding-jumbotron {
	padding-left: 6%; 
	padding-right: 6%;
}

.padding-2col {
	padding-top: 3%;
	padding-left: 3%; 
	padding-right: 3%;
}

/* --- Navbar --- */

.navbar {
	padding: .8rem;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-item a {
	color: #707070;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav .nav-item:hover a {
	color: #41b3a3;
}

.navbar .navbar-nav li {
	padding-right: 20px;
}

/* --- Carousel --- */

.carousel-inner img {
	width: 100vw;
	height: 50vw;
}

.carousel-caption {
	position: absolute;
	top: 10%;
}

.carousel-caption h1 {
	font-size: 10vw;
}

.carousel-caption p {
	font-size: 2vw;
}

/* --- Button --- */

.btn-outline-primary {
	border-color: #808080 !important;
	color: #808080 !important;
}

.btn-outline-primary:hover {
    border-color: #41b3a3 !important;
    background-color: #41b3a3 !important;
    color: white !important;
}

.btn-outline-secondary {
	border-color: white !important;
	color: white !important;
}

.btn-outline-secondary:hover {
    border-color: #41b3a3 !important;
    background-color: #41b3a3 !important;
    color: white !important;
}